/* src/styles/Home.module.css */


.sectionHi {
  align-self: stretch;
  display: flex;
}
.sectionHi {
  flex-direction: column;
  padding: var(--padding-4xl) 0;
  align-items: center;
  justify-content: flex-start;
}
.content {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.home,
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.main {
  align-self: stretch;
  text-align: left;
  font-size: var(--paragraph-size);
  color: var(--color-black);
  font-family: var(--desktop-caption);
}
.home {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  overflow: hidden;
}
@media screen and (max-width: 1200px) {
}
@media screen and (max-width: 960px) {
  .shotsGrid {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
  }
  .sectionHi {
    box-sizing: border-box;
  }
  .sectionHi {
    padding: var(--padding-2xl) 0;
  }
  .main {
    gap: var(--gap-0);
    padding-left: 0;
    padding-top: 0;
    padding-right: 0;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 420px) {
  .shotsGrid {
      flex-direction: column;
  }
  .sectionHi {
    padding-left: 0;
  }
  .main {
    gap: var(--gap-0);
    padding-left: 0;
    box-sizing: border-box;
  }
}
