.heading,
.paragraph {
  align-self: stretch;
  position: relative;
  line-height: 5.5rem;
  font-weight: 300;
}
.paragraph {
  font-size: var(--desktop-h2-size);
  line-height: 1.88rem;
}
.content {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
  max-width: 29.25rem;
}
.heading1,
.paragraph1 {
  align-self: stretch;
  position: relative;
}
.heading1 {
  line-height: 4rem;
  font-weight: 300;
  display: none;
}
.paragraph1 {
  font-size: var(--desktop-paragraph-size);
  line-height: 1.44rem;
}
.content1,
.sectionIntro,
.wrapper {
  display: flex;
  align-items: flex-start;
}
.content1 {
  align-self: stretch;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-xs);
  max-width: 29.25rem;
  font-size: var(--desktop-title-size);
}
.sectionIntro,
.wrapper {
  flex-direction: row;
}
.wrapper {
  flex: 1;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  max-width: 60rem;
  width: 100%;
  margin: 0 auto;
}
.sectionIntro {
  align-self: stretch;
  padding: var(--padding-61xl) 0;
  justify-content: space-between;
  font-size: var(--desktop-hero-title-size);
}
.heading2,
.paragraph2 {
  align-self: stretch;
  position: relative;
}
.heading2 {
  font-size: var(--desktop-title-size);
  line-height: 4rem;
  font-weight: 300;
}
.paragraph2 {
  line-height: 1.44rem;
}
.content2 {
  align-items: flex-start;
  gap: var(--gap-xs);
  max-width: 29.25rem;
}
.content2,
.sectionProjectOverview,
.wrapper1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.wrapper1 {
  align-items: flex-start;
  gap: var(--gap-29xl);
  max-width: 60rem;
  width: 100%;
  margin: 0 auto;
}
.sectionProjectOverview {
  padding: var(--padding-61xl) 0;
  align-items: center;
}
.heading3,
.heading4 {
  align-self: stretch;
  position: relative;
}
.heading3 {
  line-height: 4rem;
  font-weight: 300;
}
.heading4 {
  line-height: 1.75rem;
}
.content4,
.wrapper3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.content4 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-xs);
  min-width: 29.25rem;
  max-width: 29.25rem;
}
.wrapper3 {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap-5xl);
  font-size: var(--desktop-h2-size);
}
.heading8 {
  align-self: stretch;
  position: relative;
  font-size: var(--desktop-h1-size);
  line-height: 2.5rem;
  font-weight: 300;
}
.content8,
.sectionChallenges {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.content8 {
  align-items: flex-start;
  gap: var(--gap-xs);
  max-width: 29.25rem;
  font-size: var(--desktop-paragraph-size);
}
.sectionChallenges {
  padding: var(--padding-109xl) 0;
  align-items: center;
  font-size: var(--desktop-title-size);
}
.paragraph12 {
  align-self: stretch;
  position: relative;
  font-size: var(--desktop-paragraph-size);
  line-height: 1.44rem;
  display: none;
}
.content9 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
  max-width: 29.25rem;
  font-size: var(--desktop-title-size);
}
.heading10 {
  align-self: stretch;
  position: relative;
  line-height: 2.5rem;
  font-weight: 300;
}
.content10 {
  align-self: stretch;
  font-size: var(--desktop-h1-size);
}
.content10,
.content11,
.wrapper5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
  max-width: 29.25rem;
}
.wrapper5 {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap-5xl);
  max-width: 60rem;
}
.bettingDepartment {
  margin-bottom: false;
}
.bettingDepartmentSportsInfo {
  margin: 0;
  padding-left: var(--padding-xl);
}
.heading17,
.paragraph19 {
  align-self: stretch;
  position: relative;
}
.paragraph19 {
  font-size: var(--desktop-paragraph-size);
  line-height: 1.44rem;
  font-family: var(--font-inherit);
}
.heading17 {
  line-height: 1.75rem;
  display: none;
}
.content18,
.sectionTheProcess {
  display: flex;
  justify-content: flex-start;
}
.sectionTheProcess {
  align-self: stretch;
  flex-direction: column;
  padding: var(--padding-61xl) 0;
  align-items: center;
  font-size: var(--desktop-h2-size);
}
.content18 {
  align-items: flex-start;
  font-size: var(--desktop-title-size);
}
.content18,
.content19 {
  width: 29.25rem;
  flex-direction: column;
  gap: var(--gap-xs);
  max-width: 29.25rem;
}
.content19,
.content20,
.sectionDesign,
.wrapper6,
.wrapper7 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.content20 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-xs);
  max-width: 29.25rem;
}
.sectionDesign,
.wrapper6,
.wrapper7 {
  align-self: stretch;
}
.wrapper7 {
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap-5xl);
  font-size: var(--desktop-h2-size);
}
.sectionDesign,
.wrapper6 {
  flex-direction: column;
}
.wrapper6 {
  gap: 4rem;
  max-width: 60rem;
  width: 100%;
  margin: 0 auto;
}
.sectionDesign {
  padding: var(--padding-61xl) var(--padding-221xl);
  font-size: var(--desktop-h1-size);
}
.paragraph27 {
  align-self: stretch;
  position: relative;
  font-size: var(--desktop-paragraph-size);
  line-height: 1.44rem;
  font-family: var(--font-inherit);
  display: none;
}
.content25,
.sectionAfls {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.content25 {
  width: 29.25rem;
  align-items: flex-start;
  gap: var(--gap-xs);
  max-width: 29.25rem;
  font-size: var(--desktop-paragraph-size);
}
.sectionAfls {
  align-self: stretch;
  padding: var(--padding-61xl) 0;
  align-items: center;
  font-size: var(--desktop-title-size);
}
.content26 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-xs);
  max-width: 29.25rem;
}
.content26,
.wrapper10,
.wrapper9 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.wrapper9 {
  align-self: stretch;
  flex-direction: row;
  max-width: 60rem;
  width: 100%;
  margin: 0 auto;
}
.wrapper10 {
  width: 60rem;
  flex-direction: column;
}
.wrapper11 {
  align-self: stretch;
  max-width: 60rem;
  width: 100%;
  margin: 0 auto;
}
.main,
.projectGeniussports,
.wrapper11 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.main {
  align-self: stretch;
}
.projectGeniussports {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  overflow: hidden;
  text-align: left;
  font-size: var(--desktop-paragraph-size);
  color: var(--color-black);
  font-family: var(--desktop-caption);
}
@media screen and (max-width: 960px) {
  .content,
  .content1 {
    flex: unset;
    align-self: stretch;
  }
  .wrapper {
    flex-direction: column;
    gap: var(--gap-5xl);
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 37.25rem;
    width: 100%;
  }
  .wrapper1, .wrapper9, .wrapper10, .wrapper11 {
    max-width: 37.25rem;
    width: 100%;
  }
  .sectionDesign {
    padding-left: 0;
    padding-top: var(--padding-61xl);
    padding-right: 0;
    max-width: 37.25rem;
    width: 100%;
    margin: 0 auto;
  }
  .content4 {
    flex: unset;
    align-self: stretch;
  }
  .wrapper3,
  .wrapper5 {
    flex-direction: column;
    gap: var(--gap-5xl);
    align-items: flex-start;
    justify-content: flex-start;
  }
  .content20 {
    flex: unset;
    align-self: stretch;
  }
  .wrapper7 {
    flex-direction: column;
    gap: var(--gap-5xl);
    align-items: flex-start;
    justify-content: flex-start;
  }
  .paragraph1, .content2, .content4, .content20, .content26, .heading8, .paragraph2, .content8, .content1, .paragraph, .content, .content19, .heading10, .content25, .paragraph2, .paragraph19, .content19, .heading10, .paragraph10, .paragraph1 {
    width: 100%;
    max-width: none;
  }
}
@media screen and (max-width: 420px) {
  .content20 {
    flex: unset;
    align-self: stretch;
  }
  .wrapper7 {
    flex-direction: column;
    gap: var(--gap-5xl);
    align-items: flex-start;
    justify-content: flex-start;
  }
  .wrapper1 {
    max-width: 24rem;
    width: 100%;
    padding-left: var(--padding-5xl);
    padding-right: var(--padding-5xl);
    box-sizing: border-box;
  }
  .wrapper9, .wrapper10, .wrapper11, .sectionIntro, .wrapper6 {
    margin: 0 auto;
    padding-left: var(--padding-5xl);
    padding-right: var(--padding-5xl);
    width: auto;
    box-sizing: border-box;
  }
  .sectionIntro {
    /* max-width: 24rem; */
    /* width: 100%; */
  }
  .paragraph1, .content2, .content4, .content18, .content20, .content26, .heading8, .paragraph2, .content8, .content1, .paragraph, .content, .content19, .heading10, .content25, .paragraph2, .paragraph19, .content19, .heading10, .paragraph10, .paragraph1 {
    width: auto;
    max-width: none;
    min-width: unset;
  }
}
