.mantasMilka {
  align-self: stretch;
  position: relative;
  line-height: 26px;
  font-weight: 500;
}
.mantasmantasmilkacom {
  position: relative;
  font-weight: 300;
}
.mantasmantasmilkacomParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
  color: var(--color-black);
}
.cvChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--color-black);
  height: 24px;
}
.cv,
.cv1,
.cvChild {
  width: 24px;
}
.cv1 {
  position: absolute;
  top: calc(50% - 7px);
  left: calc(50% - 12px);
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cv {
  position: relative;
  height: 24px;
}
.social {
  width: 188px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  text-align: center;
  font-size: var(--desktop-caption-size);
  color: var(--color-white);
}
.logoWrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-29xl);
}
.closeUpsParent {
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.closeUpsParent,
.nav,
.platformdesktop {
  display: flex;
  align-items: flex-start;
}
.nav {
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-29xl);
}
.platformdesktop {
  position: relative;
  background-color: var(--color-white);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  width: 1440px;
  flex-direction: row;
  padding: var(--padding-109xl) var(--padding-221xl);
  box-sizing: border-box;
  justify-content: space-between;
  text-align: left;
  font-size: var(--desktop-nav-link-size);
  color: var(--color-gray);
  font-family: var(--desktop-nav-link);
}
