.logoWrap h4, .projects h4 {
  font-weight: 500;
}
.logoWrap .contactLinks h4, .projects .projectsList h4 {
  position: relative;
  font-weight: 300;
}
.logoWrap ul {
  margin-block-start: 0;
  padding-inline-start: 0;
}
.contactLinks {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
  color: var(--color-black);
}
.cvChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--size-xs);
  background-color: var(--color-black);
  height: 24px;
}

.cv,
.cv1,
.cvChild {
  width: 24px;
}
.cv1 {
  position: absolute;
  top: calc(50% - 7px);
  left: calc(50% - 12px);
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cv {
  position: relative;
  height: 24px;
}
.social {
  width: 188px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-lg);
  text-align: center;
  font-size: var(--caption-size);
  color: var(--color-white);
}
.logoWrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-2xl);
}
.projectsList {
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.projectsList,
.projects {
  display: flex;
  align-items: flex-start;
  margin-left: auto;
}
.projects {
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-2xl);
}
@media screen and (max-width: 960px) {
}
@media screen and (max-width: 420px) {
  .projects {
    margin-left: auto;
  }
  .logoWrap, .projects {
    gap: var(--gap-sm);
  }
}