.mantasMilka {
  position: relative;
}
.logoWrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  max-width: 7.5rem;
}
.header {
  flex-direction: row;
  align-items: center;
}
.header {
  align-self: stretch;
  background-color: var(--color-white);
  height: 5.5rem;
  display: flex;
  padding: var(--padding-13xl) var(--padding-29xl);
  box-sizing: border-box;
  justify-content: space-between;
  text-align: left;
  font-size: var(--h2-size);
  color: var(--color-gray);
  font-family: var(--desktop-caption);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: white;
  z-index: 1;
}
@media screen and (max-width: 960px) {
  .logoWrap {
    width: auto;
    align-self: unset;
  }
  .links {
    display: none;
  }
  .mobilemenu {
    display: flex;
  }
  .header {
    height: auto;
    flex-direction: row;
    gap: var(--gap-0);
    align-items: center;
    justify-content: space-between;
  }
}
@media screen and (max-width: 420px) {
  .links {
    display: none;
  }
  .mobilemenuClosed {
    display: flex;
  }
  .mobilemenuOpen {
    display: none;
  }
  .mobilemenu {
    display: flex;
  }
  .header {
    flex-direction: row;
    gap: var(--gap-0);
    align-items: center;
    justify-content: space-between;
    padding: var(--padding-base) var(--padding-5xl);
    box-sizing: border-box;
  }
}
