.heyImMantas,
.uxUiDesigner {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-weight: 100;
  font-family: inherit;
}
.heyImMantas {
  font-size: inherit;
  line-height: 4rem;
}
.uxUiDesigner {
  font-size: var(--desktop-hero-title-size);
  line-height: 5.5rem;
}
.hero,
.wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: column;
}
.wrapper {
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 60rem;
}
.hero {
  padding: var(--padding-109xl) 0;
  align-items: center;
  justify-content: center;
  background-image: url(/public/hero@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: left;
  font-size: var(--desktop-title-size);
  color: var(--color-gray);
  font-family: var(--desktop-caption);
}
@media screen and (max-width: 1200px) {
  .hero,
  .wrapper {
    box-sizing: border-box;
  }
  .wrapper {
    padding-left: var(--padding-55xl);
    padding-top: 0;
    padding-right: var(--padding-55xl);
  }
  .hero {
    align-items: center;
    justify-content: flex-start;
    padding-left: 0;
    padding-top: var(--padding-109xl);
    padding-right: 0;
  }
}
@media screen and (max-width: 960px) {
  .wrapper {
    align-self: stretch;
    width: auto;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 37.25rem;
  }
  .hero {
    padding-left: 0;
    padding-top: var(--padding-109xl);
    padding-right: 0;
    box-sizing: border-box;
    background-position: 62% 100%;
  }
}
@media screen and (max-width: 420px) {
  .heyImMantas {
    font-size: var(--font-size-21xl);
    line-height: 3rem;
  }
  .uxUiDesigner {
    font-size: var(--font-size-41xl);
    line-height: 4.5rem;
  }
  .wrapper {
    padding-left: var(--padding-5xl);
    padding-right: var(--padding-5xl);
    box-sizing: border-box;
  }
  .hero {
    background-position: 62% 100%;
  }
}
