@keyframes slide-in-top {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.mantasMilka {
  align-self: stretch;
  position: relative;
}
.mantasMilkaIcon {
  position: relative;
  width: 119.24px;
  height: 15.26px;
}
.logo,
.logoWrap {
  flex-direction: column;
}
.logo {
  display: none;
  padding: var(--padding-base) var(--padding-5xl);
  align-items: flex-start;
  justify-content: flex-start;
}
.logoWrap {
  width: 162px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap-3xs);
}
.frameChild,
.frameItem {
  position: relative;
  background-color: var(--color-gray);
  width: 24px;
  height: 2px;
}
.frameItem {
  width: 32px;
}
.header,
.rectangleParent {
  display: flex;
  align-items: center;
}
.rectangleParent {
  flex-direction: column;
  padding: var(--padding-4xs) var(--padding-9xs);
  justify-content: center;
  gap: var(--gap-5xs);
}
.header {
  background-color: var(--color-white);
  width: 375px;
  flex-direction: row;
  padding: var(--padding-base) var(--padding-5xl);
  box-sizing: border-box;
  justify-content: space-between;
}
.aboutMe {
  position: relative;
  line-height: 40px;
  font-weight: 300;
}
.cvChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--color-black);
}
.cv,
.cv1,
.cvChild {
  width: 48px;
  height: 48px;
}
.cv1 {
  position: absolute;
  top: calc(50% - 24px);
  left: calc(50% - 24px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.cv {
  position: relative;
}
.social {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-29xl);
  font-size: 24px;
  color: var(--color-white);
}
.mantasmantasmilkacom {
  position: relative;
  font-weight: 300;
}
.mantasmantasmilkacomParent {
  align-items: center;
  justify-content: center;
  gap: var(--gap-21xl);
  text-align: left;
  font-size: var(--desktop-nav-link-size);
}
.mantasmantasmilkacomParent,
.menu,
.mobile,
.section {
  display: flex;
  flex-direction: column;
}
.section {
  text-decoration: none;
  flex: 1;
  background: linear-gradient(98.66deg, #f2f2f2 37.5%, #f5f5f5);
  width: 375px;
  align-items: center;
  justify-content: center;
  gap: var(--gap-21xl);
  text-align: center;
  font-size: var(--desktop-h1-size);
  color: var(--color-black);
}
.menu,
.mobile {
  align-items: flex-start;
  justify-content: flex-start;
}
.menu {
  align-self: stretch;
  flex: 1;
}
.mobile {
  position: relative;
  background-color: var(--color-white);
  height: 812px;
  overflow: hidden;
  opacity: 0;
  width: 100%;
  max-height: 90%;
  text-align: left;
  font-size: var(--desktop-nav-link-size);
  color: var(--color-gray);
  font-family: var(--desktop-nav-link);
}
.mobile.animate {
  animation: 0.25s ease 0s 1 normal forwards slide-in-top;
}
@media screen and (max-width: 420px) {
  .section {
    min-height: 100vh;
  }
}
