.heading,
.paragraph {
  align-self: stretch;
  position: relative;
}
.heading {
  font-size: var(--desktop-h2-size);
  line-height: 28px;
}
.paragraph {
  line-height: 23px;
}
.container,
.paragraphs2DesktopAlignri {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}
.container {
  align-self: stretch;
  gap: var(--gap-xs);
  max-width: 468px;
}
.paragraphs2DesktopAlignri {
  position: relative;
  width: 960px;
  max-width: 960px;
  text-align: left;
  font-size: var(--desktop-paragraph-size);
  color: var(--color-black);
  font-family: var(--desktop-caption);
}
