@font-face {
  font-family: "Helvetica Neue";
  src: url("/public/HelveticaNeue-Light-08.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("/public/HelveticaNeue-01.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("/public/HelveticaNeue-Medium-11.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("/public/HelveticaNeue-Thin-13.ttf");
  font-weight: 100;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("/public/HelveticaNeue-Bold-02.ttf");
  font-weight: 700;
}
h1, h2, h3, h4, h5, p {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
h1 {
  font-size: var(--h1-size);
  line-height: calc(var(--h1-size) * 1.2);
  font-weight: 300;
}
h2 {
  font-size: var(--h2-size);
  line-height: calc(var(--h2-size) * 1.2);
  font-weight: 300;
}
h3 {
  font-size: var(--h3-size);
  line-height: calc(var(--h3-size) * 1.25);
  font-weight: 300;
}
h4 {  
  font-size: var(--h4-size);
  line-height: calc(var(--h4-size) * 1.5);
  font-weight: 300;
}
p {
  font-size: var(--paragraph-size);
  line-height: calc(var(--paragraph-size) * 1.5);
  font-weight: 300;
  margin-top: 0.75rem;
}
h2 + p {
  margin-top: 0.5rem;
}
main ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 0.75rem;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 2rem;
  margin-top: 0;
}
main ul li {
  margin-bottom: var(--size-xs);
  font-weight: 300;
}
main {
  margin-top: 5.5rem;
}
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --desktop-caption: "Helvetica Neue";
  --font-inherit: inherit;
  /* Colors */
  --color-white: #ffffff;
  --color-black: #020202;
  --color-grey: #F6F6F6;
  --gray-1: #333;
  
  /* New size variables */
  --size-xxs: 0.25rem; /* 4px at default root font-size */
  --size-xs: 0.5rem;  /* 8px at default root font-size */
  --size-sm: 1rem;    /* 16px at default root font-size */
  --size-md: 1.5rem;  /* 24px at default root font-size */
  --size-lg: 2rem;    /* 32px at default root font-size */
  --size-xl: 3rem;    /* 48px at default root font-size */
  --size-2xl: 4rem;   /* 64px at default root font-size */
  --size-3xl: 6rem;   /* 96px at default root font-size */
  --size-4xl: 8rem;   /* 128px at default root font-size */
  --size-5xl: 10rem;  /* 160px at default root font-size */
  /* Gap variables using the size variables */
  --gap-xxs: var(--size-xxs);
  --gap-xs: var(--size-xs);
  --gap-sm: var(--size-sm);
  --gap-md: var(--size-md);
  --gap-lg: var(--size-lg);
  --gap-xl: var(--size-xl);
  --gap-2xl: var(--size-2xl);
  --gap-3xl: var(--size-3xl);
  --gap-4xl: var(--size-4xl);
  --gap-5xl: var(--size-5xl);
  /* Padding variables using the new size variables */
  --padding-xxs: var(--size-xxs);
  --padding-xs: var(--size-xs);
  --padding-sm: var(--size-sm);
  --padding-md: var(--size-md);
  --padding-lg: var(--size-lg);
  --padding-xl: var(--size-xl);
  --padding-2xl: var(--size-2xl);
  --padding-3xl: var(--size-3xl);
  --padding-4xl: var(--size-4xl);
  --padding-5xl: var(--size-5xl);
  /* font sizes */
  --h1-size: var(--size-4xl);
  --h2-size: var(--size-xl);
  --h3-size: var(--size-lg);
  --h4-size: 1.25rem;
  --h5-size: var(--size-sm);
  --caption-size: 0.75rem;
  --paragraph-size: var(--size-sm);
  --title-size: var(--size-xl);
}

@media screen and (max-width: 1200px) {
  main {
    margin-top: 6.5rem;
  }
}
@media screen and (max-width: 960px) {
    main {
      /* margin-top: 4.5rem; */
    }
    :root {
      --h1-size: var(--size-2xl);
      --h2-size: var(--size-xl);
    }
}
@media screen and (max-width: 420px) {
    main {
      margin-top: 4.5rem;
    }
    
    :root {
      --h1-size: var(--size-xl);
      --h2-size: var(--size-lg);
      --h3-size: var(--size-md);
      --h4-size: 1.25rem;

    }
    h1 {
      font-size: var(--h1-size);
      line-height: calc(var(--h1-size) * 1.2);
      font-weight: 300;
    }
    h2 {
      font-size: var(--h2-size);
      line-height: calc(var(--h2-size) * 1.2);
      font-weight: 300;
    }
    h3 {
      font-size: var(--h3-size);
      line-height: calc(var(--h3-size) * 1.25);
      font-weight: 300;
    }
    h4 {  
      font-size: var(--h4-size);
      line-height: calc(var(--h4-size) * 1.5);
      font-weight: 300;
    }
    p {
      font-size: var(--paragraph-size);
      line-height: calc(var(--paragraph-size) * 1.5);
      font-weight: 300;
      margin-top: 0.75rem;
    }
}